
.licat:hover {background-color: rgba(169, 226, 145, 0.23);}
.licat2:hover {background-color: rgba(255, 148, 6, 0.31);}

.groups{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
}

.taskList{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.taskList li{
    margin-bottom: 1px;
    padding-bottom: 1px;
    border-bottom: groove 1px;
}

.groups li{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: groove 1px;
}

.panelPaddingGroups{
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 0px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;
}

.taskGroup{
    height: 470px;
}

.toolBar{
    border: none;
    background-color: rgba(169, 226, 145, 0.05);
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: large;
}

body{
    background-color:black ;
}

.panel-body
{
    overflow-y: scroll;
    padding: 5px;
}

.tasks{
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;
}

.userInfo{
    margin-top:0px;
}